
#page-1 #title, #page-1 #title-b
{
    position:absolute;
    left: 134px;
    top: 102px;
    width: 650px;
    height: 109px;
    font-family: 'MetaPlusBold';
    font-size: 21pt;
    vertical-align: text-top;
    word-spacing: 0px;
    line-height: 30px;
    color: #006F3B;    
    -webkit-transition: opacity 1s;
}
#page-1 #title{opacity: 1;}#page-1 #title-b{opacity: 0;}

#page-1 #title > little{
    font-size: 18px;
    position: relative;
    top: -10px;
}

#page-1 #chart-tip
{
    position:absolute;
    left: 719px;
    top: 242px;
    width: 203px;
    height: 53px;
    background-image: url(../../codes/images/1/chart-tip@2x.1438-484.png);
    background-size: 203px 53px;
    background-repeat: no-repeat;
}

#page-1 #chart
{
    position:absolute;
    left: 124px;
    top: 184px;
    width: 837px;
    height: 434px;
/*    background-image: url(../../codes/images/0/chart@2x.248-368.png);*/
    background-size: 837px 434px;
    background-repeat: no-repeat;
}

#page-1 #study-design-button
{
    position:absolute;
    left: 719px;
    top: 354px;
    width: 139px;
    height: 45px;
    background-image: url(../../codes/images/1/study-design-button@2x.1438-708.png);
    background-size: 139px 45px;
    background-repeat: no-repeat;
}

#page-1 #text
{
    position:absolute;
    left: 134px;
    top: 610px;
    width: 352px;
    height: 46px;
    background-image: url(../../codes/images/1/text@2x.268-1220.png);
    background-size: 352px 46px;
    background-repeat: no-repeat;
}

#page-1 #title2-b
{
    position:absolute;
    left: 135px;
    top: 197px;
    width: 399px;
    height: 17px;
    font-family: 'MetaPlusBook-Roman';
    font-size: 16px;
    color: #949698;
    line-height: 14px;
}

#page-1 #text2
{
    position:absolute;
    left: 117px;
    top: 672px;
    display: none;
/*    width: 476px;*/
/*    height: 85px;*/
/*    background-image: url(../../codes/images/1/text2@2x.234-1344.png);*/
/*
    background-size: 476px 85px;
    background-repeat: no-repeat;
*/
    opacity: 0;
    -webkit-transition: opacity 1s;
}

#page-1 #button
{
    position:absolute;
    left: 699px;
    top: 509px;
    width: 64px;
    height: 41px;
    background-image: url(../../codes/images/1/button@2x.1398-1018.png);
    background-size: 64px 41px;
    background-repeat: no-repeat;
}


#page-1 #chart-bg{
    position:absolute;
    left: 138px;
    top: 242px;
    width: 545px;
    height: 343px;
    overflow: hidden;
}

#page-1 #chart-bg-a, #page-1 #chart-bg-b
{
    position:absolute;
    left: 0px;
    top: 0px;
    width: 545px;
    height: 343px;
    background-image: url(../../codes/images/1/chart-bg@2x.276-484.png);
    background-size: 545px 343px;
    background-repeat: no-repeat;
}
#page-1 #chart-bg-a, #page-1 #chart-a{
    -webkit-transform: translateX(0px);
/*    -webkit-transition: -webkit-transform 1s;*/
}
#page-1 #chart-bg-b, #page-1 #chart-b{
    -webkit-transform: translateX(545px);
/*    -webkit-transition: -webkit-transform 1s;*/
}
#page-1 #chart-bg-b{}

#page-1 #chart-a
{
    position:absolute;
    left: 60px;
    top: 0px;
    width: 0px;
    height: 210px;
    background-image: url(../../codes/images/1/chart-a@2x.396-484.png);
    background-size: 478px 210px;
    background-repeat: no-repeat;
/*    -webkit-transition: -webkit-transform 1s, width 1.5s;*/
}

#page-1 #chart-b
{
    position:absolute;
    left: 60px;
    top: 12px;
    width: 0px;
    height: 223px;
    background-image: url(../../codes/images/1/chart-b@2x.396-508.png);
    background-size: 478px 223px;
    background-repeat: no-repeat;
    -webkit-transition: -webkit-transform 1s, width 1.5s;
}

#page-1 #lit-logo
{
    position:absolute;
    left: 760.5px;
    top: 630px;
    width: 144.5px;
    height: 67.5px;
    background-image: url(../../codes/images/2/lit-logo@2x.1521-1260.png);
    background-size: 144.5px 67.5px;
    background-repeat: no-repeat;
}
#page-1 #text3
{
    position:absolute;
    left: 634px;
    top: 703px;
    width: 285px;
    height: 45px;
    background-image: url(../../codes/images/2/text@2x.1268-1406.png);
    background-size: 285px 45px;
    background-repeat: no-repeat;
}
#page-1 #text4-a, #page-1 #text4-b{
    width: 393px;
    font-family: 'MetaPlusBook-Roman';
    font-size: 16px;
    color: #949698;
    line-height: 18px;
    float: left;
    position: absolute;
    left: 134px;
    top: 675px;
    -webkit-transition: opacity 1s;
}
#page-1 #text4-a li, #page-1 #text4-b li{
    margin-left: 16px;
    list-style-position: inside;
    text-indent: -15px;
}

#page-1 #text4-a{
    opacity: 1;
}
#page-1 #text4-b{
    opacity: 0;
}
