
#doctor_detailer_helpfull {

	background-position: left bottom;
}


/*: Form
----------------------------------------------------------*/
#doctor_detailer_helpfull form {
	width: 900px;
	padding: 0 70px;
	margin: 30px auto;
	background-color: transparent;
	font-family: "FrutigerLTStd77BlackCondensed", sans-serif;
	font-size: 19px;
	color: #808080;
}
#doctor_detailer_helpfull h1{

}
#doctor_detailer_helpfull fieldset {
	border: none;
	padding: 0;
}

#doctor_detailer_helpfull table {
	width: 100%;
	border-collapse:separate;
	float: left;
	border-spacing:0px 0px;
	border: 2px solid #808080;
	border-top-right-radius: 19px;
    border-bottom-left-radius: 19px;
    background-color: white;
    -webkit-box-shadow: 0 6px 6px rgba(0, 0, 0, 0.4);
	overflow:hidden;
}

#doctor_detailer_helpfull tr {
	width: 100%;
	height: 100%;
	border-bottom: 1px solid #d0c7db;
}

#doctor_detailer_helpfull tr th, #doctor_detailer_helpfull tr td
{    
	font-weight:bold;
	text-align:center;  
    vertical-align:middle;
	border-bottom: 1px solid #d0c7db;
}
#doctor_detailer_helpfull tr td{height: 50px;}

#doctor_detailer_helpfull tr.rigid td{ background-color:#d7d3e1;}
#doctor_detailer_helpfull tr.thin td {	background-color:#edeaf1;}

#doctor_detailer_helpfull tr th{
    height: 70px;
	width:144px;
	line-height:24px;
	color:#fff;
	background-color:#808080;
}

#doctor_detailer_helpfull tr th:nth-child(1), #doctor_detailer_helpfull tr td:nth-child(1) {
	width: 180px;
	border-left:none;
	background-color:#808080; // transparent;
	color:#fff;
}

#doctor_detailer_helpfull tr th:nth-child(6),#doctor_detailer_helpfull tr td:nth-child(6)
{
	border-right:none;
}

#doctor_detailer_helpfull tr:nth-child(9) td
{
	border-bottom:none;
}
/*: Form elements: Checkboxes
----------------------------------------------------------*/
#doctor_detailer_helpfull input[type="radio"] {
	width: 100%;
	height: 100%;
	/*margin-right: 13px;*/
	border: none;
	/*float: left;*/
    margin:0;
	position:relative;
	background-color: transparent;

	background-repeat: no-repeat;
	background-position: center center;
	-webkit-border-radius: 0px 0px 0px 0px;
	-webkit-appearance: none;	/* Remove Safari default */
}
#doctor_detailer_helpfull input[type="radio"]:checked{
    margin:0;
}
#doctor_detailer_helpfull tr td:nth-child(2) input[type="radio"]{
	background-image: url(../../content/img/doctor_survey/face_gray_happy_2.png);
}

#doctor_detailer_helpfull tr td:nth-child(2) input[type="radio"]:checked{
    background-image: url(../../content/img/doctor_survey/face_happy_2.png);
}

#doctor_detailer_helpfull tr td:nth-child(3) input[type="radio"]{
	background-image: url(../../content/img/doctor_survey/face_gray_happy_1.png);
}

#doctor_detailer_helpfull tr td:nth-child(3) input[type="radio"]:checked{
    background-image: url(../../content/img/doctor_survey/face_happy_1.png);
}

#doctor_detailer_helpfull tr td:nth-child(4) input[type="radio"]{
	background-image: url(../../content/img/doctor_survey/face_gray_normal_1.png);
}

#doctor_detailer_helpfull tr td:nth-child(4) input[type="radio"]:checked{
    background-image: url(../../content/img/doctor_survey/face_normal_1.png);
}

#doctor_detailer_helpfull tr td:nth-child(5) input[type="radio"]{
	background-image: url(../../content/img/doctor_survey/face_gray_sad_1.png);
}

#doctor_detailer_helpfull tr td:nth-child(5) input[type="radio"]:checked{
    background-image: url(../../content/img/doctor_survey/face_sad_1.png);
}

#doctor_detailer_helpfull tr td:nth-child(6) input[type="radio"]{
	background-image: url(../../content/img/doctor_survey/face_gray_sad_2.png);
}

#doctor_detailer_helpfull tr td:nth-child(6) input[type="radio"]:checked{
    background-image: url(../../content/img/doctor_survey/face_sad_2.png);
}
